<Import.X @="components/A" />

<nav class="bg-gray-100 text-gray-600 body-font">
  <div
    class="container px-2 mx-auto flex flex-wrap py-5 flex-col md:flex-row items-center"
  >
    <X
      href="/"
      class="hover:text-blue-700 mb-4 md:mb-0"
      x-bind:class="{'text-blue-600': path == '/'}"
    >
      <span>Home</span>
    </X>
    <div
      class="md:ml-auto flex flex-wrap items-center text-base justify-center gap-4"
    >
      <X
        href="/new"
        class="hover:text-blue-700"
        x-bind:class="{'text-blue-600': path == '/new'}"
        title="New"
      >
        <Include @="icons/Add" />
      </X>
      <div
        class="relative"
        x-data="{show:false}"
        @click.outside="show=false"
        client
      >
        <span
          class="text-gray-500 hover:text-blue-700 cursor-pointer"
          @click="show=!show"
        >
          <Include @="icons/Account" />
        </span>
        <div
          class="absolute z-20 top-auto right-0 border rounded-md p-2 bg-white flex flex-col items-stretch text-center"
          s-group="auth"
          x-show="show"
          x-cloak
        >
          <Fragment s-if="user.is_authenticated">
            <X
              href="/profile"
              class="py-2 px-6 rounded-md hover:bg-gray-200 active:bg-gray-300"
              @click="show=false;"
            >
              @{{user.username}}
            </X>
            <X
              href="/bookmarks"
              class="py-2 px-6 rounded-md hover:bg-gray-200 active:bg-gray-300"
              @click="show=false;"
            >
              Bookmarks
            </X>
            <X
              href="/settings/profile"
              class="py-2 px-6 rounded-md hover:bg-gray-200 active:bg-gray-300"
              @click="show=false;"
            >
              Settings
            </X>
            <button
              class="py-2 px-6 rounded-md hover:bg-gray-200 active:bg-gray-300"
              @click="call('core.logout', {});show=false;"
              s-csrf
            >
              Logout
            </button>
          </Fragment>
          <Fragment s-else>
            <button
              class="py-2 px-6 rounded-md hover:bg-gray-200 active:bg-gray-300"
              @click="setDialog('login');show=false;"
            >
              Login
            </button>
            <button
              class="py-2 px-6 rounded-md hover:bg-gray-200 active:bg-gray-300"
              @click="setDialog('signup');show=false;"
            >
              Signup
            </button>
          </Fragment>
        </div>
      </div>
    </div>
  </div>
</nav>
