<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>{% if Tailwind %}
  <Tailwind @="base" />{% endif %}
  <Js @="picomet/comet.js" defer />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.7/cdn.min.js"
    integrity="sha512-kJ22SdASORIix8XIrKdqHU4+nBMOg5qAWigToRMshSGut+Nn6axu6cfecNay5piPo/v9QZYI38ZIGQw2tlCaYQ=="
    crossorigin="anonymous"
    defer
  ></script>
  <Debug>
    <Js @="picomet/hmr.js" />
  </Debug>
</head>

<body>
  <main>
    <div s-group="page">
      <Outlet />
    </div>
  </main>
</body>

</html>