{
  "recommendations": [
    "almahdi.code-django",{% if Tailwind %},
    "bradlc.vscode-tailwindcss"{% endif %}{% if Ruff %}
    "charliermarsh.ruff",{% endif %}
    "editorconfig.editorconfig"{% if Prettier %},
    "esbenp.prettier-vscode"{% endif %},
    "picomet.alpinejs"
  ]
}
