{
  "recommendations": [
    "almahdi.code-django",{% if Ruff %}
    "charliermarsh.ruff",{% endif %}
    "editorconfig.editorconfig"{% if Prettier %},
    "esbenp.prettier-vscode"{% endif %}{% if Tailwind %},
    "bradlc.vscode-tailwindcss"{% endif %}
  ]
}
