[project]
name = "{{ PROJECT_NAME }}"
version = "1.0.0"
requires-python = ">={{ PYTHON_VERSION }}"

[tool.uv]
default-groups = ["base"]

[dependency-groups]
base = [
  "Django=={{ DJANGO_VERSION }}"{% if Tailwind %},
  "javascript==1!1.1.3"{% endif %}{% if DB=="Mysql" %},
  "mysqlclient==2.2.6"
  {% endif %},
  "picomet=={{ PICOMET_VERSION }}"{% if DB=="Postgresql" %},
  "psycopg2-binary==2.9.10"{% endif %}{% if ASSR %},
  "mini-racer==0.12.4"{% endif %},
  "python-decouple==3.8"
]
dev = [
  "channels==4.2.0",
  "daphne==4.1.2"{% if Precommit %},
  "pre-commit==4.0.1"{% endif %}{% if Ruff %},
  "ruff==0.8.5"{% endif %},
  "watchdog==4.0.0"
]{% if Ruff %}

[tool.ruff]
fix = true
exclude = ["env", "node_modules"]

[tool.ruff.lint]
select = ["E4", "E7", "E9", "UP", "F", "I", "DJ"]
fixable = ["I"]

[tool.ruff.lint.isort]
section-order = [
  "future",
  "standard-library",
  "third-party",
  "first-party",
  "local-folder",
]
known-first-party = ["core"]{% endif %}
