repos:{% if Ruff %}
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
      - id: ruff-format{% endif %}{% if Prettier %}
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier{% endif %}
  - repo: local
    hooks:
      - id: check-absent-migrations
        name: Check absent migrations
        entry: python manage.py makemigrations --check
        pass_filenames: false
        language: system
        always_run: true
      - id: check-unapplied-migrations
        name: Check unapplied migrations
        entry: python manage.py migrate --check
        pass_filenames: false
        language: system
        always_run: true
